body {
    background-image: url('./images/PrancingPonyBackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#content {
    background-color: rgb(47,113,51);
    width: 60vw;
    height: auto;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    border-radius: 10px;
}

#prancing-pony-img {
    width: 40%;
    border-radius: 10px;
}

#quote, #historical-guests {
    text-align: center;
    font-size: 30px;
    color: rgb(225,198,75);
}

#historical-guests > ul {
    list-style-type: none;
    font-size: 20px;
}

.pint-image {
    width: 300px;
    height: auto;
}

.dinner-image {
    width: 300px;
    height: auto;
}

.menu-item {
    width: 90%;
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 20px;
    color: rgb(225,198,75);
}

.menu-title {
    font-size: 50px;
    color: rgb(225,198,75);
    border-bottom: 3px solid rgb(225,198,75);
}

.staff-title {
    font-size: 50px;
    color: rgb(225,198,75);
    border-bottom: 3px solid rgb(225,198,75);
}

.staff-item {
    width: 90%;
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 20px;
    color: rgb(225,198,75);
}

.barliman-image, .nob-image, .bob-image {
    width: 300px;
    height: auto;
}

.navbar {
    width: 60vw;
    height: 75px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar > button {
    width: 10vw;
    height: 60px;
    font-size: 26px;
    background-color: rgb(0, 70, 0);
    color: rgb(225,198,75);
    border-radius: 5px;
}